{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "template to setup zerocloud on zerocloud's AWS",
    "Parameters": {},
    "Resources": {
        "zerocloudqueue" : {
          "Type" : "AWS::SQS::Queue",
          "Properties":{
            "QueueName":"ZeroCloudQueue"
          }
        }
    }
}
